[package]
name = "vgl"
version = "0.1.0"
edition = "2021"

[dependencies]
image = "0.23"
winit = "0.26"
cgmath = "0.18"
env_logger = "0.9"
log = "0.4"
wgpu = "0.12"
pollster = "0.2"


game_loop = { path = "src/game_loop" }
